{% extends 'base.html' %}

{% block content %}



    <!-- Default form login -->
    <form class="formColor container w-25 p-3 text-center border border-light p-5 mt-5 rounded" id="form" method="POST"
          action={% url 'signup' %}#form>
        {% csrf_token %}
        <p class="h4 mb-4 formTextColor ">Sign Up</p>
        <!-- Username -->
        <input type="text" name="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username">
        <!-- Password -->
        <input type="password" name="password1" id="defaultLoginFormPassword" class="form-control mb-4"
               placeholder="Password">
        <!-- Confirm Password -->
        <input type="password" name="password2" id="defaultLoginFormPassword" class="form-control mb-4"
               placeholder="Confirm Password ">
        <!-- Sign in button -->
        <input class="btn btn-info btn-block my-4" type="submit" value="Sign Up"/>
        {% if error %}
            <p class="text-danger">   {{ error }}</p>
        {% endif %}
        <!-- Register -->

<!-- test users

    {% for alluser in allusers %}
    <label>
        {{alluser.id}}
    </label>
    {%endfor%}

-->
    </form>
    <!-- Default form login -->
    <br/>
    <br/>
{% endblock %}