{% extends 'base.html' %}
{%load mathfilters %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href={%url 'home'%}>Home</a>
                        <a href={%url 'home'%}>Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in cartitems%}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img style="  height: 90px;width: 90px;"src={{item.variantProduct.product.cover.url}} alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{item.variantProduct.product.name}}</h6>
                                        <h6>سایز {{item.variantProduct.size}}</h6>
                                        <h5>{{item.variantProduct.discountPrice}} T</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                            <div class="quantity">
                                            <div class="pro-qty-2">
                                            <form id="editcart" method="POST" action={% url 'edit_cart' %}>
                                                {% csrf_token %}
                                                <button style="border:0;padding:0;background:rgba(0,0,0,0)"value="-1">
                                                    <i  class="fa fa-angle-left dec qtybtn"></i>
                                                </button>
                                                <input type="hidden" name="cartid" id="cartid" value={{item.id}} />
                                                <input type="hidden" name="mode" id="mode" value={{item.id}} />
                                                <input type="text" name="quantity" id="quantity" value={{item.quantity}}>
                                                <button style="border:0;padding:0;background:rgba(0,0,0,0)" value="+1">
                                                    <i  class="fa fa-angle-right inc qtybtn"></i>
                                                </button>
                                            </form>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                    <td class="cart__price">{{item.quantity| mul:item.variantProduct.discountPrice}}</td>
                                    <td class="cart__close">
                                        <form method="POST" action={% url 'remove_from_cart' %}>
                                            {% csrf_token %}
                                            <input type="hidden" name="remove" id="remove" value={{item.id}} />
                                            <button style="border-radius: 100%;padding:0;border:0">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <form action="">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>$ 169.50</span></li>
                        <li>Total <span>$ 169.50</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<script>
    const Button = document.getElementById("editcart");
    Button.addEventListener('submit', showSelected);
    
    function showSelected(e) {
        document.querySelector('input[name="mode"]').value=`${this.value}`;
    }

    const input = document.querySelector('input[name="quantity"]');

    input.addEventListener('change', updateValue);

    function updateValue(e) {
        document.getElementById("mode").value=`${this.value}`
    }
    
</script>
{%endblock%}