{% extends 'base.html' %}
{%load mathfilters %}
{% load humanize %} 
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href={%url 'home' %}>Home</a>
                        <a href={%url 'shop' %}>Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad" style="direction:rtl;text-align: right;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>محصول</th>
                                <th>تعداد</th>
                                <th>مجموع</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in cartitems%}
                            <tr>
                                <td calss="product__cart__item" style="padding-left: 50px;" >
                                    <div class="product__cart__item__pic" style="  height: 90px;width: 90px;">
                                        <img src={{item.variantProduct.product.cover.url}} alt="">
                                    </div>
                                </td>
                                <td class="product__cart__item">

                                    <div class="product__cart__item__text">
                                        <h6>{{item.variantProduct.product.name}}</h6>
                                        <h5 style="pad">سایز {{item.variantProduct.size}}</h5>
                                        <h5 style="direction:ltr">
                                            {{item.variantProduct.discountPrice| intcomma}}  T
                                            <span style="color:#ff0000;text-decoration-line:line-through;">
                                                {{item.variantProduct.mainPrice| intcomma}} T
                                            </span>
                                        </h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <form id="editform" method="POST" action="{% url 'edit_cart' %}">
                                
                                            <div class="pro-qty-2">
                                                <input type="text" name="quantity" id="{{item.id}}" value="{{item.quantity}}" style="border: white;width: 26px;text-align: center;">
                                                {% csrf_token %}
                                                <input type="hidden" name="newvalue" id="newvalue" value= />
                                                <input type="hidden" name="editcart" id="editcart" value= />
                                                <input type="hidden" name="cartid" id="cartid" value="{{item.id}}" />
                                            </div>
                                    </form>
                                </td>
                                <td class="cart__price" style="direction:ltr;">
                                    {{item.quantity| mul:item.variantProduct.discountPrice| intcomma}} T
                                </td>
                                <td class="cart__close">
                                        <form method="POST" action={% url 'remove_from_cart' %}>
                                            {% csrf_token %}
                                            <input type="hidden" name="remove" id="remove" value={{item.id}} />
                                            <button style="border-radius: 100%;padding:0;border:0">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href={%url 'shop'%}>ادامه خرید</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <form action="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!--
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>

                -->
                <div class="cart__total">
                    <h6> <strong>مجموع سبد خرید</strong></h6>
                    <ul>
                        <li style="direction: ltr;">قیمت <span>{{totalmain|intcomma}} T</span></li>
                        <li style="direction: ltr;">قیمت با احتساب تخفیف <span>{{totaldiscount|intcomma}} T</span></li>
                    </ul>
                    <a href={%url 'order'%} class="primary-btn">نهایی کردن سفارش و پرداخت</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<script>


    const inputs = document.querySelectorAll('input[name="quantity"]');
    for(const input of inputs){
        input.addEventListener('change', updateValue);
    } 
        
        function updateValue(e) {
            document.getElementById('cartid').value=`${this.id}`;
            document.getElementById('newvalue').value=`${this.value}`;
            document.getElementById('editform').submit();
        }
        
</script>
{%endblock%}